body {
  max-height: 100%;
  font-size: 3em;
}

/* stuff that starts out invisible */
.image-container { /* picture for each question */
  height: 80%;
  display: none;
}

.question-container { /* question and choices for each question */
  display: none;
}

.submit-container {
  display: none;
}

/* always invisible - for user by backend */
.hidden-input-container {
  display: none;
}

/* other styles */
.container {
  max-width: 1000px;
}

h1 {
  text-align: center;
}

.btn:focus {
  color: white;
  outline: none;
}

ul.vertical-radios {
  padding-left: 5px;
  list-style: none;
}

ul.vertical-radios li {
  padding-bottom: 5px;
}

ul.vertical-radios li input {
  height: 20px;
  width: 20px;
}

ul.horizontal-radios {
  list-style: none;
  padding-left: 0px;
}

ul.horizontal-radios li {
  display: inline-block;
  margin-right: 60px;
}

ul.horizontal-radios li input {
  height: 20px;
  width: 20px;
  display: block;
}

ul.horizontal-radios label {
  text-align: center;
  display: block;
}

.image-container {
  text-align: center;
}

.image-container img {
  height: 700px;
}
