<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Friendliness</title>

  <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/styles.css">
</head>
<body class="container">
  <form method="post" action="/">
    <div id="initial-form">
      <h1>Friendliness Survey</h1>
      <div class="hidden-input-container">
        {% if set_name == 'A' %}
          <input type="radio" name="set_name" value="A" checked="checked">
          <input type="radio" name="set_name" value="B">
        {% else %}
          <input type="radio" name="set_name" value="A">
          <input type="radio" name="set_name" value="B" checked="checked">
        {% endif %}
      </div>

      <label>Survey Administrator</label>
      <ul class="vertical-radios">
        <li><input type="radio" name="admin" value="Abe"> Abe</li>
        <li><input type="radio" name="admin" value="Celeste"> Celeste</li>
      </ul>

      <p><label>Location</label><input type="text" name="location" class="form-control"></p>

      <p><label>Name</label><input type="text" name="subject_name" class="form-control"></p>

      <p>
        <label>Age</label><select name="subject_age" class="form-control">
          <option disabled selected value="">-- Select --</option>
          <option value="0-9">0-9</option>
          <option value="10-19">10-19</option>
          <option value="20-29">20-29</option>
          <option value="30-39">30-39</option>
          <option value="40-49">40-49</option>
          <option value="50-59">50-59</option>
          <option value="60-69">60-69</option>
          <option value="70-79">70-79</option>
          <option value="80-89">80-89</option>
          <option value="90-99">90-99</option>
          <option value="100+">100+</option>
        </select>
      </p>

      <label>Gender</label>
      <ul class="vertical-radios">
        <li><input type="radio" name="subject_gender" value="M"> Male</li>
        <li><input type="radio" name="subject_gender" value="F"> Female</li>
        <li><input type="radio" name="subject_gender" value="O"> Other</li>
      </ul>
    </div>

    {% for i in range(-1, 10) %}
      <div class="image-container" id="image{{ i }}"></div>
      <div class="question-container" id="question{{ i }}"</div>
        <p>
          How likely are you to receive this person's undivided attention while
          telling them your story?
        </p>
        <ul class="horizontal-radios" id="answer{{ i }}-options">
          <li>Very unlikely</li>
          <li><input type="radio" name="answer{{ i }}" value="1"><label>1</label></li>
          <li><input type="radio" name="answer{{ i }}" value="2"><label>2</label></li>
          <li><input type="radio" name="answer{{ i }}" value="3"><label>3</label></li>
          <li><input type="radio" name="answer{{ i }}" value="4"><label>4</label></li>
          <li><input type="radio" name="answer{{ i }}" value="5"><label>5</label></li>
          <li>Very likely</li>
        </ul>
        <div class="hidden-input-container">
          <input type="radio" id="phone{{ i }}" name="phone{{ i }}" value="phone">
          <input type="radio" id="no-phone{{ i }}" name="phone{{ i }}" value="no phone">
        </div>
      </div>
    {% endfor %}

    <div class="submit-container" id="submit-container">
      <input type="submit" value="Submit" class="btn btn-primary btn-block" id="submit-button" disabled="true">
    </div>
  </form>

  <button id="next-button" type="button" class="btn btn-primary btn-block" disabled="true">Go to Sample Question</button>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="static/js/survey.js"></script>
</body>
</html>
